body {
    background-color: #0f2438;
}
a {
    text-decoration: none;
}
#header {
    position: fixed;
}
.header, .header-wrapper {
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s,opacity .3s;
    background-color: #fff;
}
.header-wrapper {
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
.header-main {
    height: auto;
    z-index: 10;
    position: relative;
}
.header .flex-row {
    height: 100%;
}
.flex-row {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: all .3s ease-out;
    /* width: 100%; */
}
#logo {
    width: 200px;
}
.logo-left .logo {
    margin-left: 0;
    /* margin-right: 30px; */
}
.logo>a {
    text-decoration: none;
    display: block;
    color: #446084;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    padding: 10px;
    padding-left: 0;
}
.logo>a>img {
    width: 100%;
    transition: all .2s ease-out;
    max-width: 200px;
}
.phone-number {
    color: #1e3c4d;
}
.phone-number:hover,
.phone-number:focus,
.phone-number:active {
    text-decoration: none;
}
.phone-number-div h2 {
    font-size: 30px;
    transition: all .2s ease-out;
}
.stuck {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#main {
    background-color: #fff;
    position: relative;
    min-height: 900px;
    padding-top: 85px;
}
#section_background {
    background-image: url(../images/background.png);
    background-position-x: 38%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transition: all .3s ease-out;
}
.qouta-form-container {
    width: 100%;
    padding: 35px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px 0px rgba(0,0,0,0.7);
    /* margin-right: 0; */
    /* margin-top: 80px; */
    max-width: 400px;
    /* margin-left: auto; */
    /* margin-bottom: 20px; */
    position: absolute;
    top: 100px;
    right: 0;
}
.fast-qouta-form h2 {
    font-size: 27px;
    margin: 0 0 10px 0;
    font-weight: bold;
    font-family: "Roboto Slab",sans-serif;
    color: #487699;
}
.fast-qouta-form h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Slab",sans-serif;
    color: #487699;
    margin: 0 0 20px 0;
}
.secure-container {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.secure-container img {
    width: 60px;
    display: inline-block;
    height: 60px;
}
.secure-container>h1 {
    color: #487699;
    margin: 0;
   line-height: 8pt;
}
.secure-container>h1>span.big-text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}
.secure-container>h1>span.small-text {
    font-size: 13px;
    font-weight: 200;
}
.footer-wrapper {
    width: 100%;
    position: relative;
}
.absolute-footer.dark {
    color: rgba(255,255,255,.5);
}
.absolute-footer {
    background-color: #0E2338;
}
.absolute-footer {
    padding: 15px 0 15px;
    font-size: .9em;
}
.large-text-container {
    position: absolute;
    top: 350px;
    width: 100%;
    padding-right: 15px;
    transition: all 0.2s ease-out;
}
.large-text-container>h2{
    color: #487699;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.large-text-container>h4{
    color: #487699;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
#email-send-btn {
  font-size: 1.2em;
}
.social-container {
    margin-top: 20px;
}
.social-container>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.social-container>ul>li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.social-container>ul>li a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #c6d4df;
    text-align: center;
    padding-top: 13px;
    border: 1px solid #c6d4df;
    border-radius: 50%;
    transition: all .2s ease-out;
}
.social-container>ul>li a:hover {
    color: #0f2438;
    border: 1px solid #eaeaea;
    background-color: #fff;
}
.social-container>ul>li i {
    font-size: 25px;
}
.copyright-footer p {
    color: #c6d4df;
    font-size: 13px;
    margin: 3px 0;
}
@media(max-width: 1199px) {
    #section_background {
        background-position-x: 43%;
    }
}
@media(max-width: 991px) {
    .qouta-form-container {
        position: relative;
        top: unset;
        margin-top: 80px;
        right: unset;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .large-text-container {
        top: 450px;
    }
    #section_background {
        background-position: 46%;
    }
    #email-send-btn {
      font-size: 1.1em;
    }
}
@media(max-width: 767px) {
    .large-text-container {
        position: relative;
        top: unset;
        padding-right: unset;
        max-width: 500px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 25px;
    }
    .qouta-form-container {
        margin-top: 30px;
    }
    #section_background {
        background-position: 50%;
        height: 70%;
    }
}
@media(max-width: 499px) {
    #logo {
        width: auto;
    }
    .phone-number-div h2 {
        font-size: 18px;
    }
    .logo>a>img {
        width: 120px;
    }
    #main {
        padding-top: 65px;
        min-height: unset;
    }
    #section_background {
        background-position-x: 32%;
        height: 100%;
    }
    .qouta-form-container {
        max-width: unset;
        margin-top: 30px;
        position: relative;
    }
}
@media(max-width: 379px) {
    #email-send-btn {
      font-size: 1.0px;
    }
}
@media(max-width: 349px) {
    #email-send-btn {
      font-size: 0.9em;
    }
}
